<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Image Search</h1>
    <form id="image-search-form">
        <div class="input-group">
            <label for="image-query">Image query:</label>
            <input type="file" id="image-query" name="image-query" accept="image/*">
        </div>
            
        <div class="input-group">
            <label for="text-query">Text query:</label>
            <input type="text" id="text-query" name="text-query">
        </div>

        <div class="input-group">
            <label for="hybrid-weight">Hybrid Query Weight (%):</label>
            <input type="number" step="0.1" id="hybrid-weight" name="hybrid-weight" value="0.5" required>
        </div>

        <div class="input-group">
            <label for="query-type">Select query type:</label>
            <select id="query-type" name="query-type">
                <option value="image">Image query</option>
                <option value="text">Text query</option>
                <option value="hybrid">Hybrid query</option>
            </select>
        </div>

        <div class="input-group">
            <label for="embed-type">Select embedding for image Query:</label>
            <select id="embed-type" name="embed-type">
                <option value="clip">CLIP</option>
                <option value="pca">PCA</option>
            </select>
        </div>

        <button type="submit">Search</button>
    </form>

    <div id="results" style="display: none;">
        <h2>Top 5 Search Results</h2>
        <div id="result-container">
            <!-- 결과를 동적으로 추가할 공간 -->
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>